.jumbotron {
	background-color: blue;
	color: white;
	margin-top: 56px;
}

footer {
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
}

.card-caritas {
	flex: 1 150px;
}

.btn-apoya {
	width: 100%;
	border-radius: 0;
	padding: 0;
	margin: 0;
} 

.social {
	background-color: white;
}

.caja {
	margin-top: 100px;
}
.icopie {
	padding-right: 5px;
}

.banner1 {
	background-image: url(/images/children-5293336_1920.png);
	max-width: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;

}

.cardprecios {
	padding-top: 20px;
}

.miacordion {
	padding-top: 20px;
	padding-bottom: 20px;
}